# Imports

In [1]:
import pandas as pd

In [6]:
iris_df = pd.read_csv("../iris.csv")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [16]:
train_df = iris_df.sample(frac=0.5)
train_df

     sepal_length  sepal_width  petal_length  petal_width     species
76            6.8          2.8           4.8          1.4  versicolor
11            4.8          3.4           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
94            5.6          2.7           4.2          1.3  versicolor
43            5.0          3.5           1.6          0.6      setosa
..            ...          ...           ...          ...         ...
99            5.7          2.8           4.1          1.3  versicolor
125           7.2          3.2           6.0          1.8   virginica
8             4.4          2.9           1.4          0.2      setosa
104           6.5          3.0           5.8          2.2   virginica
39            5.1          3.4           1.5          0.2      setosa

[75 rows x 5 columns]

In [19]:
iris_df.merge(train_df, how="outer")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
148           6.7          3.0           5.2          2.3  virginica
149           6.3          2.5           5.0          1.9  virginica
150           6.5          3.0           5.2          2.0  virginica
151           6.2          3.4           5.4          2.3  virginica
152           5.9          3.0           5.1          1.8  virginica

[153 rows x 5 columns]

In [22]:
joined_df = iris_df.merge(train_df, how="outer", left_index=True, right_index=True)
joined_df

,sepal_length_x,sepal_width_x,petal_length_x,petal_width_x,species_x,sepal_length_y,sepal_width_y,petal_length_y,petal_width_y,species_y
0,5.1,3.5,1.4,0.2,setosa,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,setosa,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,NaN,NaN,NaN,NaN,NaN
146,6.3,2.5,5.0,1.9,virginica,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica,NaN,NaN,NaN,NaN,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN,NaN,NaN,NaN,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN,NaN,NaN,NaN,NaN

In [23]:
joined_df.iloc[:,-1].isna()

0      False
1       True
2      False
3      False
4      False
       ...
145     True
146    False
147     True
148     True
149     True
Name: species_y, Length: 150, dtype: bool

In [24]:
test_data = iris_df[joined_df.iloc[:,-1].isna()]
test_data

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
7             5.0          3.4           1.5          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
142           5.8          2.7           5.1          1.9  virginica
145           6.7          3.0           5.2          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[75 rows x 5 columns]